@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #063d97;
  background-color: #242424;
  min-height: 100vh;
  font-family: 'Inter', system-ui;
  a {
    text-decoration: none;
    color: #063d97;
  }
}

button {
  background: #fffaf0;
  padding: 10px 20px;
  border-radius: 10px;
  color: #063d97;
  font-weight: 600;
  border: none;
  margin:  15px 0;
}

header {
  background-color: #fffaf0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px;
  gap: 20px;

  a {
    display: flex;
    align-items: center;
    gap: 20px;
    cursor: pointer;
    h2 {
      font-weight: 600;
      font-size: clamp(1.5rem, 4vw, 2rem);
      margin: 0;
    }
    img {
      height: 70px;
    }
  }

  h3 {
    font-size: clamp(1.5rem, 4vw, 2rem);
    font-weight: 400;
    margin: 0;
  }
}

.buttons {
  display: flex;
  justify-content: center;

  a:first-child {
    button {
      border-radius: 10px 0 0 10px;
    }
  }
  a:last-child {
    button {
      border-radius: 0 10px 10px 0;
    }
  }

  .active button {
    background-color: #ea6f07;
  }
}

.leaflet-container {
  height: calc(100vh - 185px);
 
}

@media (max-width: 600px) {
  header h2 {
    font-size: 20px;
  }

  header h3 {
    font-size: 18px;
  }
}
